body,h1 {
    font-family: 'Noto Sans JP', sans-serif;
  }
.register-button {
    margin-top: 10px;
    background-color: rgb(181, 14, 14);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.register-button:hover {
    background-color: darkred;
}
